page-home {

}

.home {
  background: url("../assets/bg.png");
  background-size: cover ;
  background-repeat: round;
}
.button {
  width: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;

}

.web{
  margin-left: 70%;
}
//
//.button img{
//  //width: 200px;
//  display: block;
//  margin-left: auto;
//  margin-right: auto
//}
//
//.button {
//  img{
//    height: 50vh;
//    width: auto;
//    margin: auto;
//    display: block;
//  }
//}
